<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>HomePage@STG</title>
</head>

<body style="align-items: center;">

    <style>
        .stContainer{
            padding-top: 0px;
            height: 100%;
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        .insideContainer{
            font-family: 'futura';
            position: absolute;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            height: 90%;
            width: 90%;
            justify-content: center;
        }
    </style>

    <div class = "stContainer">
        <div class = "insideContainer">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_eR9-m6W_aPNbGRTc80kXQcWG-a0I-qn4oTqUYAo1_KUyXbSOA_uazxT30ynIEtGhZ2U&usqp=CAU"
                    style="width: 18%; height: 28%; ">
                <h3> Management@Startup-Guide</h3>
                <br>
                <button onclick="window.location.href = '/addItem/{{user.accessToken}}/{{userID}}'" type="button" class="btn btn-dark">Add am Item</button>
        </div>
    </div>
    <div style="position: absolute; margin-top: 65%; width: 100%; padding-left: 5%; padding-right: 5%; align-items: center; justify-content: center; font-family: futura;">
        <h1 style="margin-left: 45%; position: relative;">Books</h1>
        <br>
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">Serial</th>
                <th scope="col">Item ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              {% for element in books %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{element._id}}</td>
                <td>{{element.name}}</td>
                <td>{{element.category}}</td>
                <td>{{element.description}}</td>
                <td>{{element.link}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          <h1 style="margin-left: 45%; position: relative;">Blogs</h1>
        <br>
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">Serial</th>
                <th scope="col">Item ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              {% for element in blogs %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{element._id}}</td>
                <td>{{element.name}}</td>
                <td>{{element.category}}</td>
                <td>{{element.description}}</td>
                <td>{{element.link}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          <h1 style="margin-left: 42%; position: relative;">Newsletters</h1>
        <br>
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">Serial</th>
                <th scope="col">Item ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              {% for element in newsletters %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{element._id}}</td>
                <td>{{element.name}}</td>
                <td>{{element.category}}</td>
                <td>{{element.description}}</td>
                <td>{{element.link}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          <h1 style="margin-left: 40%; position: relative;">Startup Stories</h1>
        <br>
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">Serial</th>
                <th scope="col">Item ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              {% for element in startupStories %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{element._id}}</td>
                <td>{{element.name}}</td>
                <td>{{element.category}}</td>
                <td>{{element.description}}</td>
                <td>{{element.link}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          <h1 style="margin-left: 38%; position: relative;">Youtube Channels</h1>
        <br>
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">Serial</th>
                <th scope="col">Item ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              {% for element in youtubeChannels %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{element._id}}</td>
                <td>{{element.name}}</td>
                <td>{{element.category}}</td>
                <td>{{element.description}}</td>
                <td>{{element.link}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          <h1 style="margin-left: 44%; position: relative;">Podcasts</h1>
        <br>
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">Serial</th>
                <th scope="col">Item ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              {% for element in podcasts %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{element._id}}</td>
                <td>{{element.name}}</td>
                <td>{{element.category}}</td>
                <td>{{element.description}}</td>
                <td>{{element.link}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          <h1 style="margin-left: 45%; position: relative;">Tweets</h1>
        <br>
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">Serial</th>
                <th scope="col">Item ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              {% for element in tweets %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{element._id}}</td>
                <td>{{element.name}}</td>
                <td>{{element.category}}</td>
                <td>{{element.description}}</td>
                <td>{{element.link}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

    </div>
    <br>
    <br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>